<app-auth>
  <div class="flex flex-col gap-10 lg:px-5">
    <div class="flex flex-col text-lg">
      <span class="font-bold">Daftar</span>
      <hr class="h-1 w-8 rounded-full bg-primary">
    </div>
    <form [formGroup]="form" (submit)="submit()">
      <div class="flex flex-col gap-3">
        <div class="flex flex-col">
          <div class="flex flex-row border rounded place-items-center px-2">
            <i class="fa-solid fa-envelope text-zinc-500"></i>
            <input type="text" class="flex-1" placeholder="Nama" formControlName="name">
          </div>
          <span class="text-red-600 text-xs" *ngIf="name?.touched && name?.hasError('required')">* Nama dibutuhkan</span>
        </div>
        <div class="flex flex-col">
          <div class="flex flex-row border rounded place-items-center px-2">
            <i class="fa-solid fa-envelope text-zinc-500"></i>
            <input type="text" class="flex-1" placeholder="Username" formControlName="username">
          </div>
          <span class="text-red-600 text-xs" *ngIf="username?.touched && username?.hasError('required')">* Username dibutuhkan</span>
        </div>
        <div class="flex flex-col">
          <div class="flex flex-row border rounded place-items-center px-2">
            <i class="fa-solid fa-envelope text-zinc-500"></i>
            <input type="text" class="flex-1" placeholder="Email" formControlName="email">
          </div>
          <span class="text-red-600 text-xs" *ngIf="email?.hasError('email')">* Email tidak valid</span>
          <span class="text-red-600 text-xs" *ngIf="email?.touched && email?.hasError('required')">* Email dibutuhkan</span>
        </div>
        <div class="flex flex-col">
          <div class="flex flex-row border rounded place-items-center px-2">
            <i class="fa-solid fa-envelope text-zinc-500"></i>
            <input type="password" class="flex-1" placeholder="Password" formControlName="password">
          </div>
          <span class="text-red-600 text-xs" *ngIf="password?.touched && password?.hasError('required')">* Password dibutuhkan</span>
        </div>
        <button class="bg-primary hover:bg-red-600 text-white font-bold">{{isLoading ? "Mengunggah..." : "DAFTAR"}}</button>
      </div>
    </form>
  </div>
</app-auth>
