<app-auth>
  <div class="flex flex-col gap-10 lg:px-5">
    <div class="flex flex-col text-lg">
      <span class="font-bold">Daftar</span>
      <hr class="h-1 w-8 rounded-full bg-primary">
    </div>
    <form action="">
      <div class="flex flex-col gap-3">
        <div class="flex flex-col">
          <div class="flex flex-row border rounded place-items-center px-2">
            <i class="fa-solid fa-user text-zinc-500"></i>
            <input type="text" class="flex-1" placeholder="Nama">
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex flex-row border rounded place-items-center px-2">
            <i class="fa-solid fa-envelope text-zinc-500"></i>
            <input type="text" class="flex-1" placeholder="Email">
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex flex-row border rounded place-items-center px-2">
            <i class="fa-solid fa-lock text-zinc-500"></i>
            <input type="password" class="flex-1" placeholder="Password">
          </div>
        </div>
        <button class="bg-primary hover:bg-red-600 text-white font-bold">DAFTAR</button>
      </div>
    </form>
  </div>
</app-auth>
