<app-auth>
  <div class="flex flex-col gap-10 lg:px-5">
    <div class="flex flex-col text-lg">
      <span class="font-bold">Masuk</span>
      <hr class="h-1 w-8 rounded-full bg-primary">
    </div>
    <form [formGroup]="form" (submit)="submit()">
      <div class="flex flex-col gap-3">
        <div class="flex flex-col gap-1">
          <div class="flex flex-row border rounded place-items-center px-2">
            <i class="fa-solid fa-envelope text-zinc-500"></i>
            <input type="text" class="flex-1" placeholder="Email" formControlName="email">
          </div>
          <span class="text-xs text-red-500" *ngIf="email?.hasError('email')">Email tidak valid!</span>
          <span class="text-xs text-red-500" *ngIf="email?.touched && email?.hasError('required')">Email dibutuhkan!</span>
        </div>
        <div class="flex flex-col gap-1">
          <div class="flex flex-row border rounded place-items-center px-2">
            <i class="fa-solid fa-lock text-zinc-500"></i>
            <input type="password" class="flex-1" placeholder="Password" formControlName="password">
          </div>
          <span class="text-xs text-red-500" *ngIf="password?.touched && password?.hasError('required')">Password dibutuhkan!</span>
        </div>
        <button type="submit" class=" text-white font-bold" [ngClass]="isLoading ? 'bg-zinc-500' : 'bg-primary hover:bg-red-600'">
          {{ isLoading ? "Mengunggah..." : "MASUK"}}
        </button>
      </div>
    </form>
    <div class="flex flex-col gap-3">
      <div class="flex place-items-center gap-2">
        <hr class="flex-1">
        <span>atau masuk dengan</span>
        <hr class="flex-1">
      </div>
      <button class="bg-red-500 hover:bg-red-600 text-white font-bold"><i class="fa-brands fa-google"></i> GOOGLE</button>
      <button class="bg-zinc-500 hover:bg-zinc-600 text-white font-bold"><i class="fa-brands fa-github"></i> GITHUB</button>
    </div>
  </div>
</app-auth>
